.NotificationItem{
	height: 20rem;
	width: 20rem;
	display: flex;
	flex-flow: column;
	background-color: rgb(247, 253, 255);
	margin-bottom: 2%;
	box-shadow: 5px 5px 5px 1px rgb(184, 184, 184);
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.NotificationItemImage {
	flex:2;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
}
.NotificationItemImage img{
	height: 10rem;
	width: 20rem;
}
.NotificationItemHeader{
	flex:1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	color: rgb(53,123,229);	

}
.NotificationItemHeader h2{
	margin: 0;
	padding: 0;
}
.NotificationItemBody{
	flex:1;
	overflow: hidden;
	display: flex;
	flex-flow: column;
} 
.NotificationItemBody p{
	flex:1;
	padding: 1% 5%;
	margin: 0;
	color:#999;
	font-size: 1em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
} 
.NotificationItemBody span{
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	color: rgb(20,20,20);
	font-size: 0.9em;
	padding:0 1%;
	
}

@media(min-width: 520px){
	.NotificationItem:hover{
		background-color: rgb(179, 232, 255);
	}
}