.NotificationDetails{
	overflow-y: auto;
}
@media(min-width: 520px){
	.NotificationDetails{
		display: flex;
		flex-flow: row;
		overflow-y: none;
	}
	.NotificationDetail{
		flex:1;
	}
	.NotificationDetailBody{
		overflow-y: auto;
	}

}