.MyModuleDetails{
	overflow-y: auto;
}
.MyModuleStats{
	display: flex;
	flex-flow: column;
}

@media(min-width: 520px){
	.MyModuleDetails{
		display: flex;
		flex-flow: row;
		overflow-y: none;
	}
	.MyModuleStats{
	flex:3;
	}
}