.ActivityStateMonitor{
	width: 90%;
	height: 50%;
	margin-bottom: 2%;
	border-radius: 5px;
	padding: 1%;
	align-items: center;
	background-color: rgb(53,123,229);	
}
.ActivityStateMonitor div{
	height: 100%;
	width: 100%;
}
@media(min-width: 520px){
	.ActivityStateMonitor{
		width: 47%;
		height: 50%;
	}
}