.MyModuleMonitor{
	display: flex;
	flex:1;
	flex-flow: column;
	align-items: center;
	padding: 1%;
}
@media(min-width: 520px){
	.MyModuleMonitor{
		overflow-y: auto;
		flex-flow: row;
		flex-wrap: wrap;
		justify-content: space-around;

	}
}