.NotificationInfos{
	background-color: rgb(255,140,0,0.8);
	height: 100%;
	display: flex;
	flex-flow: column;	
}
.NotificationInfosHeader{
	flex:2;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	overflow-y: hidden;
}
.NotificationInfosHeader img{
	height: 50%;
	width: 50%;
	margin-bottom: 2%;
}
.NotificationInfosHeader h3{
	color: white;
	margin: 0;
	font-size: 2em;
	
}
.NotificationInfosBody{
	flex:3;
	display: flex;
	flex-flow: column;
	padding: 5%;
}
.NotificationInfosBody  h3{
	font-weight: normal;
	background-color:rgba(20,20,20,0.3);
	border-radius: 5px;
	padding: 10px;
	color:white;
	margin:0;
	margin-bottom: 3%;

}
@media(min-width: 520px){
	
	.NotificationInfos{
		flex:1;
	}
	.NotificationInfosBody{
		overflow-y: auto;
	}

}