.Header{
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-flow: row;
    height:3rem;
    align-items: center;
    background-color: rgb(20, 20, 20);
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
}
.Header nav{
    display: none;
}
@media(min-width:520px){
    .Header nav{
        display: flex;
        height: 100%;
        flex-flow: row;
        flex:1;
        align-items: center;
        justify-content: flex-end;
        margin-left: 20px;
    }
}
