.PaginationItem{
	font-size: 1rem;
	margin-right: 0.2%;
	border-radius: 5px;
	display: flex;
	border:1px solid rgb(53,123,229);
	outline: none;
	color:white;
	background-color:rgba(53,123,229);
	cursor: pointer;
}
.PaginationItem:hover{
	color: rgb(20,20,20);
	background-color: white;
}