.NotificationDetails{
	overflow-y: auto;
	width: 100%;
}
@media(min-width: 520px){
	.NotificationDetails{
		display: flex;
		flex-flow: row;
		overflow-y: none;
		align-items: center;
		justify-content: center;
	}
}