.MyModulesContainer{
	flex:1;
	display: flex;
	flex-flow: column;
	overflow-y: scroll;
}

.MyModules{
	flex:9;
	
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 1%;
}
