.MyModulesContainer{
	flex:1;
	display: flex;
	flex-flow: column;
	overflow-y: scroll;

}
@media(min-width:530px){
	.MyModulesContainer{
		overflow-y: hidden;
	}
}
.MyModules{
	flex:1;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 1%;
}
